<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img class="d-inline-block" width="40" src="../../../assets/logo.svg" />
      MyMovies
    </a>
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      <div class="d-flex flex-lg-row gap-2 flex-column">
      <button class="btn btn-outline-light fw-semibold" href="#" type="button">Filmes</button>
      <button class="btn btn-outline-light fw-semibold" href="#" type="button">Séries</button>
    </div>
    </div>
  </div>
</nav>
