nav {
  background-color: #003049 !important;
}
.logo {
  width: 75px;
}

.navbar-brand {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0px !important;
    margin: 0px !important
}

ion-icon {
  color: white;
  font-size: 32px;
}
